@inputHeight: 45px;

@borderGray: #D6D6D6;
@white: #FFFFFF;
@black: #000000;
@buttonLighterBlue: #C4D4F5;
@buttonLightBlue: #82A5E9;
@buttonDarkBlue: #2A67DC;

body {
	background: #EFEFEF;
	padding: 40px;
	font-family: san-serif;

	h1 {
		color: #636363;
		font-size: 21px;
		font-weight: 300;
		border-bottom: 1px solid @borderGray;
		display: inline-block;
	}

	div {
		margin-bottom: 15px;
		overflow: auto;
	}

	.pull-left {
		float: left;
	}

	.pull-right {
		float: right;
	}

	.hide {
		display: none;
	}

	.content-div {
		width: 500px;
		height: 500px;
	}

	.blue-button {
		background: @buttonLighterBlue;
		background: -moz-linear-gradient(top, @buttonLighterBlue 0%, @buttonDarkBlue 100%);
		background: -webkit-linear-gradient(top, @buttonLighterBlue 0%, @buttonDarkBlue 100%);

		color: @white;
		font-weight: 400;
		font-size: 18px;
		height: @inputHeight;
		padding-left: 13px;
		padding-right: 13px;
		border-radius: 10px;
		border: 0;
		width: 155px;
		margin-left: 20px;
		border: 1px solid @black;

		&:active {
			background: @buttonLightBlue;
			background: -moz-linear-gradient(top, @buttonLightBlue 0%, @buttonDarkBlue 100%);
			background: -webkit-linear-gradient(top, @buttonLightBlue 0%, @buttonDarkBlue 100%);
			-moz-box-shadow:    inset 0 8px 5px -7px @black;
			-webkit-box-shadow: inset 0 8px 5px -7px @black;
			box-shadow:         inset 0 8px 5px -7px @black;
		}
	}

	.snippet-name {
		height: @inputHeight;
		font-size: 16px;
		width: 312px;
	}

	.big-area {
		height: 145px;
		width: 100%;
		resize: none;
	}

	.saved-snippets {
		border: 1px solid @borderGray;
		height: 430px;
		background: #F5F9FC;

		> .snippet-list {
			padding: 0;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			list-style-type: none;

			> li {
				padding: 5px;
				font-family: sans-serif;
				border-bottom: 1px solid #E5F0F6;

				&:nth-child(odd) {
					background: #E5F0F6;
				}

				&.selected {
					background: #82A5E9;
				}
			}
		}
	}	
}